{% extends "base.html" %}

{% block content %}
<h2>Booking details</h2>
<div class="panel panel-info" style="text-align: left;">
    <div class="panel-body">
        <h2>Booking ID: {{ booking.booking_id }}</h2>

        <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd>{{ booking.get_status_display }}</dd>

            <dt>Name</dt>
            <dd>{{ booking.customer_name }}</dd>

            <dt>Payment mode</dt>
            <dd>{{  booking.humanized_payment_method }}</dd>

            <dt>Payment status</dt>
            <dd>{{  booking.humanized_payment_status }}</dd>

            <dt>Source<dt>
            <dd>{{ booking.source }}</dd>

            <dt>Destination<dt>
            <dd>{{ booking.destination }}</dd>

            <dt>Booking type</dt>
            <dd>{{ booking.get_booking_type_display }}</dd>

            <dt>Travel datetime</dt>
            <dd>{{ booking.travel_date }} {{ booking.travel_time }}</dd>

            <dt>Vehicle type</dt>
            <dd>{{ booking.vehicle_type }}</dd>

            {% if booking.vehicle %}
            <dt>Vehicle</dt>
            <dd>{{ booking.vehicle }}</dd>
            {% endif %}

            {% if booking.driver %}
            <dt>Driver</dt>
            <dd>
                {{ booking.driver.name }}
                <i class="glyphicon glyphicon-earphone" style="padding-left:10px;"></i>
                <a href="tel:{{ booking.driver.mobile }}" style="color: white;">{{ booking.driver.mobile }}</a>
            </dd>
            {% endif %}

            {% if booking.extra_info %}
            <dt>Booking info</dt>
            <dd>{{ booking.extra_info }}</dd>
            {% endif %}
        </dl>
    </div>
</div>
<style>
    .dl-horizontal dt {
        text-align: left;
    }
</style>
{% endblock %}
