{% extends "base.html" %}

{% block content %}
<h2>Select your ride!</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}
            {% for radio in form.vehicle_type %}
            <div class="media vehicle">
                <div class="media-body">
                    {{ radio.choice_label }}
                </div>
                <div class="media-right">
                    <label for="{{ radio.label_for_id }}" class="select-vehicle btn btn-primary">
                        {{ radio.tag }} Select
                    </label>
                </div>
            </div>
            {% endfor %}

            <input type="submit" value="Submit" class="btn btn-primary btn-xl" style="display: none;"></input>
        </form>
   </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function() {
    $('.select-vehicle').on('click', function (e) {
        $(e.target).find('input[type="radio"]').attr('checked', 'checked')
            .end()
            .parents('form').submit();
    });
}())
</script>
{% endblock %}
