{% extends "_base.html" %}

{% load i18n %}
{% load static %}

{% block extrahead %}
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
	{{ wizard.form.media }}
    <style>
        .bootstrap-datetimepicker-widget.dropdown-menu {
            background-color: #483434;
        }
        .bootstrap-datetimepicker-widget table td.day:hover,
        .bootstrap-datetimepicker-widget table td.hour:hover,
        .bootstrap-datetimepicker-widget table td.minute:hover,
        .bootstrap-datetimepicker-widget table td.second:hover {
          background: #908b8b;
        }
        .bootstrap-datetimepicker-widget table td span:hover {
              background: #908b8b;
        }

        .bootstrap-datetimepicker-widget .glyphicon.glyphicon-time {
            color: white;
            font-weight: bold;
            font-size: 24px;
        }

        .bootstrap-datetimepicker-widget .glyphicon.glyphicon-calendar {
            color: white;
            font-weight: bold;
            font-size: 24px;
        }
    </style>
{% endblock %}

{% block body_class %}index{% endblock %}

{% block content_container %}
    <header>
        <div class="header-content index">
            <div class="header-content-inner">
				<h1 id="homeHeading">{{ settings.PROJECT_HEADER }}</h1>
				<hr>
				<p>{{ settings.PROJECT_DESCRIPTION }}</p>

                <div class="panel" style="color: black !important;">
                    <div class="panel-body">
                        <form action="" method="post" class="form-horizontal" style="text-align: left;">{% csrf_token %}
                            {{ wizard.management_form }}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {% for choice in wizard.form.booking_type %}
                                    <label class="radio-inline">
                                        {{ choice.tag }}
                                        {{ choice.choice_label }}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ wizard.form.source.id_for_label }}" class="col-sm-2 control-label" style="text-align: left;">{{ wizard.form.source.label }}</label>
                                <div class="col-sm-10">
                                    {{ wizard.form.source }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ wizard.form.destination.id_for_label }}" class="col-sm-2 control-label" style="text-align: left;">{{ wizard.form.destination.label }}</label>
                                <div class="col-sm-10">
                                    {{ wizard.form.destination }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" style="padding-right: 10px;">
                                        <label for="{{ wizard.form.travel_date.id_for_label }}" class="col-sm-12 control-label" style="padding-left: 0; text-align: left;">{{ wizard.form.travel_date.label }}</label>
                                        <div class="input-group date col-sm-12" id="traveldate-picker">
                                            {{ wizard.form.travel_date }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group" style="padding-left: 10px;">
                                        <label for="{{ wizard.form.travel_time.id_for_label }}" class="col-sm-12 control-label" style="text-align: left; padding-left: 0">{{ wizard.form.travel_time.label }}</label>
                                        <div class="input-group date col-sm-12" id="traveltime-picker">
                                            {{ wizard.form.travel_time }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="text-align: center; padding-top: 10px;">
                                <input type="submit" value="Search" class="btn btn-primary btn-xl"></input>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
		</div>
	</header>
	<section class="bg-primary" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">An open source cab services management soluition!</h2>
					<hr class="light">
					<p class="text-faded">Host your own cab service and handle bookings and inventory management online.</p>
				</div>
			</div>
		</div>
	</section>

	{% comment %}
	<section id="features">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Features</h2>
					<hr class="primary">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-magic text-primary sr-icons"></i>
						<h3>Sturdy Templates</h3>
						<p class="text-muted">Our templates are updated regularly so they don't break.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
						<h3>Ready to Ship</h3>
						<p class="text-muted">You can use this theme as is, or you can make changes!</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
						<h3>Up to Date</h3>
						<p class="text-muted">We update dependencies to keep things fresh.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-heart text-primary sr-icons"></i>
						<h3>Made with Love</h3>
						<p class="text-muted">You have to make your websites with love these days!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endcomment %}

	<aside class="bg-dark">
		<div class="container text-center">
			<div class="call-to-action">
				<h2>Powered by Opencabs!</h2>
				<a href="https://github.com/rtnpro/opencabs" class="btn btn-default btn-xl sr-button">Source code!</a>
			</div>
		</div>
	</aside>
{% endblock %}

{% block footer %}
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">Let's Get In Touch!</h2>
					<hr class="primary">
					<p>If you need any help, give us a call or send us an email and we will get back to you as soon as possible!</p>
				</div>
				<div class="col-lg-4 col-lg-offset-2 text-center">
					<i class="fa fa-phone fa-3x sr-contact"></i>
					<p>{{ settings.CONTACT_PHONE }}</p>
				</div>
				<div class="col-lg-4 text-center">
					<i class="fa fa-envelope-o fa-3x sr-contact"></i>
					<p><a href="mailto:{{ setting.CONTACT_EMAIL }}">{{ settings.CONTACT_EMAIL }}</a></p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript">
$(function(){
    $('#traveldate-picker').datetimepicker({
        format: 'YYYY-MM-DD'
    });

    $('#traveltime-picker').datetimepicker({
        format: 'HH:mm'
    });

    $('#id_itinerary-source').on("change", function() {
         $('#id_itinerary-destination option').show();
         var value = $(this).val();
         $('#id_itinerary-destination option[value="'+value+'"]').hide();
    });

    $('#id_itinerary-destination').on("change", function() {
         $('#id_itinerary-source option').show();
         var value = $(this).val();
         $('#id_itinerary-source option[value="'+value+'"]').hide();
    });
});
</script>
{% endblock %}
