{% extends "opencabs/base.html" %}
{% load static %}

{% block extrastylesheets %}
	<link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Book your cab!</h1>
<div class="row">
  <form class="form" style="text-align: left">
    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label class="" for="booking-source">Source</label>
      <input type="text" class="form-control" id="booking-source" placeholder="Source">
    </div>
    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label class="" for="booking-destination">Destination</label>
      <input type="text" class="form-control" id="booking-destination" placeholder="Destination">
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label for="booking-traveldatetime">Time of travel</label>
      <div class="input-group date" id="booking-traveldatetime">
        <input type="text" class="form-control" placeholder="Time of travel" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label for="booking-vehicletype">Vehicle type</label>
      <div class="input-group" id="booking-vehicletype">
        <select  class="form-control">
          <option value="" disabled selected>Vehicle type</option>
          <option value="hatch">Hatchback</option>
          <option value="sedan">Sedan</option>
        </select>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label class="" for="booking-name">Name</label>
      <input type="text" class="form-control" id="booking-name" placeholder="Name">
    </div>
    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label class="" for="booking-mobile">Mobile</label>
      <input type="tel" class="form-control" id="booking-mobile" placeholder="Mobile">
    </div>
    <div class="clearfix"></div>
    <button type="submit" class="btn btn-default">Book</button>
  </form>
</div>
{% endblock %}

{% block extrascripts %}
	<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
	<script type="text/javascript">
		$(function (){
      $('#booking-traveldatetime').datetimepicker();
		});
	</script>
{% endblock %}
