{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extrahead %}
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
	{{ wizard.form.media }}
    <style>
        .bootstrap-datetimepicker-widget.dropdown-menu {
            background-color: #483434;
        }
        .bootstrap-datetimepicker-widget table td.day:hover,
        .bootstrap-datetimepicker-widget table td.hour:hover,
        .bootstrap-datetimepicker-widget table td.minute:hover,
        .bootstrap-datetimepicker-widget table td.second:hover {
          background: #908b8b;
        }
        .bootstrap-datetimepicker-widget table td span:hover {
              background: #908b8b;
        }
    </style>
{% endblock %}

{% block header_content_class %}index{% endblock %}

{% block content %}
    <h1 id="homeHeading">{{ settings.PROJECT_HEADER }}</h1>
    <hr>
    <p>{{ settings.PROJECT_DESCRIPTION }}</p>

    <form action="" method="post" class="form-inline">{% csrf_token %}
        {{ wizard.management_form }}
        <div class="form-group">
            <div class="inline-label">
                <label for="{{ wizard.form.source.id_for_label }}">{{ wizard.form.source.label }}</label>
            </div>
            {{ wizard.form.source }}
        </div>
        <div class="form-group">
            <div class="inline-label">
                <label for="{{ wizard.form.destination.id_for_label }}">{{ wizard.form.destination.label }}</label>
            </div>
            {{ wizard.form.destination }}
        </div>
        <div class="form-group">
            <div class="inline-label">
                <label for="{{ wizard.form.booking_type.id_for_label }}">{{ wizard.form.booking_type.label }}</label>
            </div>
            {{ wizard.form.booking_type }}
        </div>
        <div class="form-group">
            <div class="inline-label">
                <label for="{{ wizard.form.travel_datetime.id_for_label }}">{{ wizard.form.travel_datetime.label }}</label>
            </div>
            <div class="input-group date" id="traveldatetime-picker">
                {{ wizard.form.travel_datetime }}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div style="text-align: center; padding-top: 10px;">
            <input type="submit" value="Search" class="btn btn-primary btn-xl"></input>
        </div>
    </form>
{% endblock %}

{% block footer %}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Download at Start Bootstrap!</h2>
            <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
        </div>
    </div>
</aside>
{{ block.super }}
{% endblock %}

{% block scripts %}
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript">
$(function(){
    $('#traveldatetime-picker').datetimepicker({
        format: 'YYYY-MM-DD HH:mm'
    }); 
});
</script>
{% endblock %}
