<div style="text-align: left;">
    <h3 class="row" style="font-weight: 600; text-align: justify; margin-top: 0px;">
        <span class="col-md-10 col-sm-8 col-xs-6">
            {{ rate.vehicle_category.name }}
        </span>
        <span class="col-md-2 col-sm-4 col-xs-6">Rs. {% if booking_type == 'OW' %}{{ rate.total_oneway_price }}{% elif booking_type == 'RT' %}{{ rate.total_roundtrip_price }}{% endif %}</span>
    </h3>

    <div class="clearfix"></div>

    <div class="small" style="text-align: left;">
        <strong>Maximum passengers: </strong> {{ rate.vehicle_category.category.passengers }}
        <strong>Features: </strong>
        {% for i in rate.vehicle_category.features.all %} {{ i.name }} .{% empty %} -- {% endfor %}

        <strong>Extra distance charges: </strong>
        Rs. {{ rate.vehicle_category.tariff_per_km }}/km

        <strong>Extra after hours charges: </strong>
        Rs. {{ rate.vehicle_category.tariff_after_hours }}
    </div>
</div>
