<div style="text-align: left;">
    <h3 class="row" style="font-weight: 600; text-align: justify; margin-top: 0px;">
        <span class="col-md-10 col-sm-8 col-xs-6">
            {{ rate.vehicle_category.name }}
        </span>
        <span class="col-md-2 col-sm-4 col-xs-6">Rs. {{ rate.oneway_price }}</span>
    </h3>

    <div class="clearfix"></div>

    <div class="small" style="text-align: left;">
        <strong>Features: </strong>
        {% for i in rate.vehicle_category.features.all %} {{ i.name }} .{% empty %} -- {% endfor %}

        <strong>Rate: </strong>
        Rs. {{ rate.vehicle_category.tariff_per_km }}/km

        <strong>After hours charges: </strong>
        Rs. {{ rate.vehicle_category.tariff_after_hours }}

        <strong>Driver charge: </strong>
        Rs. {{ rate.driver_charge }}
    </div>
</div>
