<div style="text-align: left;">
    <h3 class="col-md-10" style="font-weight: 600; text-align: justify; margin-top: 0px;">
        {{ rate.vehicle_category.name }}
        <span class="pull-right">Rs. {{ rate.oneway_price }}</span>
    </h3>

    <div class="clearfix"></div>

    <div style="text-align: left; padding-left: 15px;">
        <strong>Features: </strong>
        {% for i in rate.vehicle_category.features.all %} {{ i.name }} .{% empty %} -- {% endfor %}

        <strong>Rate per KM: </strong>
        Rs. {{ rate.vehicle_category.tariff_per_km }}

        <strong>After hours charges: </strong>
        Rs. {{ rate.vehicle_category.tariff_after_hours }}

        <strong>Driver charge: </strong>
        Rs. {{ rate.driver_charge }}
    </div>
</div>
